/* global */



body {
    color: #D1D5DB;
    background-color: #111827;
    font-family:ui-sans-serif,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

a.nostyle:link {
    text-decoration: inherit;
    color: #D1D5DB;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: #D1D5DB;
    cursor: auto;
}

div {
    /* border: 2px solid red; */
    box-sizing: border-box;
}

.main-body {
    padding-inline: 3rem;
}

/* Header section */

.header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


/* Profile section */
.profile {
    display: flex;
    margin-bottom: 30px;
}

.profile > .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile > .photo {
    width: 50%;
}

.profile > .photo > .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    max-height: 400px;
}

/* projects section */
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.project-item {
    color: #9CA3AF;
    border-radius: 0.25rem;
    background-color: #1F2937;
    display: flex;
    width: 45%;
    height: 280px;
    position: relative;
    z-index: 0;
    top: 0px;
    text-decoration: none;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
        top: -4px;
        border: 1px solid #182237;
        background-color: #182237;
      }
    
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
      }
    
      &:hover:before {
        transform: scale(2.15);
      }
}

.project-item > .project-item-photo {
    width: 50%;
    height: 100%;
}

.project-item > .project-item-body {
    width: 50%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
}

.project-item-body > .project-item-title {
    padding-top:5px;
    font-weight: bold;
    color: #D1D5DB;
    align-self: flex-start;
}

.project-item-body > .project-item-description {
    overflow: hidden;
    flex-grow: 2;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.project-item-tech-list {
    padding: 3px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.project-item-tech-list > .project-item-tech {
    padding: 4px 8px;
    border-radius: 5px;
    display: flex;
   
    align-items: center;
    align-content: center;
    text-align: center;
    
}

.project-item-tech > i {
    margin-right: 2px;
}

.react {
    background-color: #222222;
    color: #60D7F7;
}

.nodejs {
    background-color: #89BB3C;
    color: #42443A;
}

.golang {
    background-color: #08677E;
    color: #fff;
}

.btn-open-live {
    background-color: #CBD5E0;
    color: #000;
    font-weight: bold;
    padding: 3px
}

.list-account > i {
    margin-right: 8px;
}



@media only screen and (max-width: 768px) {

    body {
        font-size: 3vw;
        line-height: unset;
    }

    h1 {
        font-size: 8.vw;
    }

    .profile {
        flex-direction: column-reverse;
    }

    .profile > .photo {
        width: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .photo > .image {
        width:80%;
    }

    .profile > .description {
        width: 100%;
        padding: 1rem;
    }

    .main-body {
        padding-inline: 10px;
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-item {
        width: 100%;
        height: 350px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1024px) {
    .project-item {
        flex-direction: column;
        height: 400px;
    }

    .project-item > .project-item-photo {
        width: 100%;
        height: 50%;
    }

    .project-item-description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    .project-item > .project-item-body {
        width: 100%;
        height: 50%;
        padding-inline: 5px;
    }
}
